version: '3.8'

services:
  backend:
    build: ./backend
    network_mode: host
    ports:
      - "8000:8000"
    depends_on:
      - redis
    environment:
      - REDIS_URL=redis://redis:6379
    volumes:
      - ./backend/.env:/app/.env

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend

  redis:
    image: redis/redis-stack:latest
    ports:
      - "6379:6379"